<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       >
	<task:scheduled-tasks>
        <!-- 定时同步微博 -->
        <task:scheduled ref="quartzWeiboService" method="syncWeiboRecord" cron="0 3/20 * * * ?"/>
        <!-- 定时更新微博数据 -->
        <task:scheduled ref="quartzWeiboService" method="updateWeiboRecord" cron="0 1 7,10,16,22 * * ?"/>
        <!-- 定时同步荔枝数据 -->
        <task:scheduled ref="quartzLizhiService" method="syncLizhiRecord" cron="0 21 23 * * ?"/>

        <!--<task:scheduled ref="weiboService" method="updateWeiboRecord" cron="0 6/10 * * * ?"/>-->

        <!-- 主表统计 -->
        <!--<task:scheduled ref="quartzService" method="quartzMajorStat" cron="0 15 9 * * ?"/>-->
		<!-- Viral 按时间维度统计 -->
		<!--<task:scheduled ref="quartzService" method="quartzViralGroupDateStat" cron="0 15 0 * * ?"/>-->
		<!-- Viral 按渠道维度统计 -->
<!-- 		<task:scheduled ref="quartzService" method="quartzViralGroupChannelStat" cron="0 1/10 * * * ?"/> -->
		<!-- 统计渠道关注量/取关量/Viral/分享量数据 -->
<!-- 		<task:scheduled ref="quartzService" method="quartzChannelSubscribeStat" cron="0 9/10 * * * ?"/> -->
		<!-- 爱情小纸条数据统计 -->
 		<!--<task:scheduled ref="quartzService" method="quartzLoveMessageStat" cron="0 15 1 * * ?"/> -->
    </task:scheduled-tasks>
    
</beans>
